<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.myboard.mapper.CommentMapper">
 
 <select id="getList" resultType="com.myboard.dto.CommentDTO">
 select * from commentspringboard where bnum=#{bnum}
 </select>
 
 <insert id="insert" parameterType="com.myboard.dto.CommentDTO">
 insert into commentspringboard values(commentspringboard_seq.nextval,'aa',#{content},
 sysdate,#{bnum})
 </insert>
 
 <delete id="delete" parameterType="com.myboard.dto.CommentDTO">
 delete from commentspringboard where cnum=#{cnum}
 </delete>
 
 <!-- 상세보기 -->
 <select id="read" resultType="com.myboard.dto.CommentDTO">
 select * from commentspringboard where cnum=#{cnum}
 </select>
 
 </mapper>
 
 