<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
<!--test  -->
<bean name="/test.sp" class="com.test.controller.TestController"/>

<!--person form  -->
<bean name="/personForm.sp" class="com.person.controller.PersonForm"/>

<!--DB설정  -->
<bean id="ds" class="org.springframework.jndi.JndiObjectFactoryBean">
<property name="jndiName">
	<value>jdbc/spring</value>
</property>
<property name="resourceRef" value="true"></property>
</bean>

<!--spring template 설정  -->
<bean id="template" class="org.springframework.jdbc.core.JdbcTemplate">
<property name="dataSource" ref="ds"></property>
</bean>

<!--Dao 설정  -->
<bean id="dao" class="com.person.model.PersonDAOImpl">
<property name="template" ref="template"></property>
</bean>


<!--person insert  -->
<bean name="/personInsert.sp" class="com.person.controller.PersonInsert">
<property name="dao" ref="dao"></property>
</bean>

<!--person List  -->
<bean name="/personList.sp" class="com.person.controller.PersonList">
<property name="dao" ref="dao"></property>
</bean>

<!--person View  -->
<bean name="/personView.sp" class="com.person.controller.PersonView">
<property name="dao" ref="dao"></property>
</bean>

<!--personDelete  -->
<bean name="/personDelete.sp" class="com.person.controller.PersonDelete">
<property name="dao" ref="dao"></property>
</bean>

<!--updateForm  -->
<bean name="/updateForm.sp" class="com.person.controller.UpdateForm">
<property name="dao" ref="dao"></property>
</bean>

<!--update  -->
<bean name="/personUpdate.sp" class="com.person.controller.PersonUpdate">
<property name="dao" ref="dao"></property>
</bean>
</beans>








